html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#three-container {
  width: 100vw;
  height: 100vh;
  background: #000;
}

canvas {
  display: block;
}